/************************************************************** TAGS SELECTOR *******************************************/
body {
  background-color: #ffffff;
  margin: 0;
  text-align: center;
  background-image: url("background.jpg");
}

/*
d2f3e0

*/
h1 {
  color: #ffffff;
  margin-top: 0;
}
a {
  color: #ffffff;
  margin-top: 0;
}
p {
  color: #ffffff;
}

hr {
  border-color: #000000;
  border-spacing: inherit;
  border-style: dotted none none;
  border-width: 10px;
  width: 30%;
  margin-bottom: 20px;
}

img {
  background-color: blue;
  margin-bottom: 20px;
  padding: 20px;
}

/**************************************************************   CLASSES  *********************************************************/
.top-container {
  background-color: #000000;
  margin-bottom: 20px;
  padding: 20px;
}

.middle-container {
  background-color: #efefef;
  height: 900px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 30%;
  width: 80%;
  opacity: 0;
}

.bottom-container {
  background-color: #000000;
  height: 80px;
  padding-top:40px;
}


/************************************************************** CLASS SELECTOR **********************************************************/
.hover:hover {
  background-color: #efefef;
  opacity: .5;
}

.red {
  background-color: red;
}

.circle {
  border-radius: 100%;
}
